<!DOCTYPE html>
<html>
  <head>
    <title>Ptime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render "layouts/menu" %>
    <div class="container">
      <p id="notice"><%= notice %></p>
      <%= yield %>
      <p></p>
      <hr>
      <p></p>
      <%= debug(params) if Rails.env.development? %>
    </div>
    
  </body>
</html>
